{% extends 'base.html.twig' %}

{% block body %}
    {% set sliderImages = [] %}
    {% for image in destination.images %}
        {% set sliderImages = sliderImages | merge([{'src': image, 'alt': destination.name}]) %}
    {% endfor %}
    <section class="destination-section">
        <h3>About {{destination.name}}</h3>
        <p>{{destination.description}}</p>
        <div class="first-container">
            <div class="icon-container">
                <div class="button-container">
                    <twig:IconButton 
                        icon="fa-heart"
                        itemId="{{ destination.id }}"
                        itemType="destination"
                        isFavorite="{{ isFavorited }}"
                    />
                    <twig:IconButton icon="fa-square-share-nodes"/>
                    <twig:IconButton icon="fa-eye-slash"/>
                    <twig:IconButton icon="fa-code-compare"/>
                </div>
                <twig:Rating reviews="{{143}}" rating="{{4.5}}" />
            </div>
        </div>
        <div class="content-section">
            <div class="slider-section">
                <twig:Slider id="slider1" images="{{sliderImages}}" />
            </div>

            <div class="details-section">
                <p class="destination-description">
                    {{destination.text}}
                </p>
            </div>
        </div>
                <h3>Hotels</h3>
                <div class="hotels-container">
                    {% for hotel in hotels %}
                        <twig:HotelCard 
                            rooms="{{hotel.available_rooms}}"
                            title="{{hotel.name}}" 
                            href="/hotel/{{ hotel.id}}" 
                            image="{{hotel.images[0]}}" 
                            description="{{hotel.description}}" 
                        />
                    {% endfor %}
                </div>
    </section>
{% endblock %}