{% extends 'base.html.twig' %}

{% block body %}
    {% set sliderImages = [] %}
    {% for image in hotel.images %}
        {% set sliderImages = sliderImages | merge([{'src': image, 'alt': hotel.name}]) %}
    {% endfor %}
    <section class="hotel-section">
        <h3>About {{hotel.name}}</h3>
        <p>{{hotel.description}}</p>
        <div class="first-container">
            <div class="icon-container">
                <div class="button-container">
                    <twig:IconButton 
                        icon="fa-heart"
                        itemId="{{ hotel.id }}"
                        itemType="hotel"
                        isFavorite="{{ isFavorited }}"
                    />
                    <twig:IconButton icon="fa-square-share-nodes"/>
                    <twig:IconButton icon="fa-eye-slash"/>
                    <twig:IconButton icon="fa-code-compare"/>
                </div>
                <twig:Rating reviews="{{203}}" rating="{{4.5}}" />
            </div>
        </div>
        <div class="content-section">
            <div class="slider-section">
                <twig:Slider id="slider1" images="{{sliderImages}}" />
            </div>

            <div class="details-section">
                <p class="hotel-description">
                    {{hotel.text}}
                </p>
                <h3>Amenities</h3>
                <div class="amenities-container">
                    <twig:SpanIcon icon="fa-spa" text="Wellnesszentrum"/>
                    <twig:SpanIcon icon="fa-person-swimming" text="Schwimmbad"/>
                    <twig:SpanIcon icon="fa-square-parking" text="Parkplatz"/>
                    <twig:SpanIcon icon="fa-utensils" text="offenes Buffet"/>
                </div>
                <p class="available-room">
                    Available Rooms: <span class="number-of-available-rooms">{{hotel.available_rooms}}</span>
                </p>
                <twig:Button icon="fa-percent" text="Book Now!" class="discover-btn"/>
            </div>
        </div>
    </section>
{% endblock %}