{% extends 'base.html.twig' %}

{% block body %}
    <twig:Hero text="{{ destinations[0].description }}" title="{{ destinations[0].name }}" image="{{destinations[0].image_url}}" href="/destination/{{ destinations[0].id}}"/>
   <div class="container">
   <h2 class="title">Destinations</h2>
   <p class="subtitle">Discover the best destinations for your next trip</p>
   </div>
    <div class="flex-container">
        {% for destination in destinations %}
            <twig:Card text="{{destination.name}}" href="/destination/{{ destination.id}}" src="{{destination.image_url}}" alt="{{destination.description}}" />
        {% endfor %}
    </div>
{% endblock %}