{% extends 'base.html.twig' %}
{% block body %}
    <section class="profile-section">
        <div class="profile-div">
            <twig:Button icon="fa-arrow-left" class="go-back-btn" href="/hotels"/>
            <div class="profile-img-container">
                <h1 class="profile-title">Your Profile</h1>
                <img src="./img1.png" alt="" class="profile-img"/>
            </div>
        </div>    
        
        <div>
            <h2 class="profile-fav">Favorite Hotels</h2>
            <div class="flex-container" style="gap: 30px;">
                {% for hotel in favoriteHotels %}
                    <twig:HotelCard 
                        title="{{hotel.name}}"
                        description="{{hotel.description}}"
                        image="{{hotel.image_url}}"
                        rooms="{{hotel.available_rooms}}"
                        href="/hotel/{{hotel.id}}"
                    />
                {% endfor %}
            </div>
        </div>
        
        <div>
            <h2 class="profile-fav">Favorite Destinations</h2>
            <div class="flex-container" style="gap: 30px;">
                {% for destination in favoriteDestinations %}
                    <twig:Card 
                        text="{{destination.name}}"
                        href="/destination/{{destination.id}}"
                        src="{{destination.image_url}}"
                        alt="{{destination.description}}"
                    />
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}